# Environment & Credentials files
.env
*.env
gmail_auto_cleaner/config.json

# Audit Logs & Data History
gmail_auto_cleaner/deleted_emails_log.json
gmail_auto_cleaner/*.log
D:\System_Maintenance_Logs/

# Python / IDE files
__pycache__/
*.pyc
venv/
.vscode/
.idea/
